[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
ipykernel = "*"
splinter = {extras = ["selenium4"], version = "*"}
selenium = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
